In [1]:
# 채식주의자들을 위한 묶음 상품 구성
# 육류를 소비하면서 채소를 같이 소비하는? 사람들을 위해
# 채소 품목을 선택한 이유에서 많이 언급된 단어를 추출해 이유를 밝힘?

# 데이터 불러오기
import pandas as pd
df = pd.read_csv('data2.csv', encoding = 'utf-8')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,US$2.39
1,1,1,Izze,[Clementine],US$3.39
2,1,1,Nantucket Nectar,[Apple],US$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,US$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",US$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",US$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",US$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",US$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",US$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",US$8.75

In [2]:
# Null 값, US$ 제거를 위한 전처리

# 전처리
import pandas as pd

# NULL 값을 삭제한 데이터프레임 생성
df_cln = df.dropna()

print("\nDataFrame after dropping NULL values:")
print(df_cln)

# 'US$'를 제거 후 float 타입으로 변경
df_cln['item_price'] = df_cln['item_price'].str.replace('US\$', '', regex=True).astype(float)

print("Original DataFrame:")
print(df_cln)

DataFrame after dropping NULL values:
      order_id  quantity           item_name  \
1            1         1                Izze
2            1         1    Nantucket Nectar
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price
1                                          [Clementine]   US$3.39
2                                               [Apple]   US$3.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...  US$16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...  US$10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...  US$11.75
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...  US$11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...  US$11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...  US$11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...   US$8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...   US$8.75

[3376 rows x 5 columns]
Original DataFrame:
      order_id  quantity           item_name  \
1            1         1                Izze
2            1         1    Nantucket Nectar
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description  item_price
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[3376 rows x 5 columns]

/var/folders/s8/b5ddcdnx25l500gsx0l22qrc0000gn/T/ipykernel_9776/897776471.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cln['item_price'] = df_cln['item_price'].str.replace('US\$', '', regex=True).astype(float)

In [4]:
# item_name 품목 횟수 출력
grpd = df_cln.groupby('item_name').size()

# 결과
print(grpd)

# 가장 많이 언급된 품목은 'chicken bowl'
# 육류 품목이 압도적으로 많음
# 육류를 소비하는 소비자들은 채소도 같이 소비하지 않을까?
# veggie로 시작하는 품목에 집중

item_name
6 Pack Soft Drink         54
Barbacoa Bowl             66
Barbacoa Burrito          91
Barbacoa Crispy Tacos     11
Barbacoa Salad Bowl       10
Barbacoa Soft Tacos       25
Bowl                       2
Burrito                    6
Canned Soda              104
Canned Soft Drink        301
Carnitas Bowl             68
Carnitas Burrito          59
Carnitas Crispy Tacos      7
Carnitas Salad             1
Carnitas Salad Bowl        6
Carnitas Soft Tacos       40
Chicken Bowl             726
Chicken Burrito          553
Chicken Crispy Tacos      47
Chicken Salad              9
Chicken Salad Bowl       110
Chicken Soft Tacos       115
Crispy Tacos               2
Izze                      20
Nantucket Nectar          27
Salad                      2
Steak Bowl               211
Steak Burrito            368
Steak Crispy Tacos        35
Steak Salad                4
Steak Salad Bowl          29
Steak Soft Tacos          55
Veggie Bowl               85
Veggie Burrito            95
Veggie Crispy Tacos        1
Veggie Salad               6
Veggie Salad Bowl         18
Veggie Soft Tacos          7
dtype: int64

In [6]:
# item_name 중 품목이 Veggie Burrito인 값만 출력
vbr = df_cln[df_cln['item_name'] == 'Veggie Burrito']
print(vbr)

      order_id  quantity       item_name  \
57          26         1  Veggie Burrito
104         46         1  Veggie Burrito
225         99         1  Veggie Burrito
394        171         1  Veggie Burrito
435        189         1  Veggie Burrito
...        ...       ...             ...
4319      1723         1  Veggie Burrito
4471      1782         1  Veggie Burrito
4519      1797         1  Veggie Burrito
4608      1829         1  Veggie Burrito
4611      1830         1  Veggie Burrito

                                     choice_description  item_price
57    [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
104   [Fresh Tomato Salsa (Mild), [Black Beans, Rice...        8.49
225   [Tomatillo Red Chili Salsa, [Black Beans, Chee...       11.25
394            [Tomatillo Green Chili Salsa, Guacamole]       11.25
435   [[Roasted Chili Corn Salsa (Medium), Fresh Tom...       10.98
...                                                 ...         ...
4319  [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.25
4471  [Roasted Chili Corn Salsa, [Rice, Black Beans,...       11.25
4519  [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese]]        8.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25

[95 rows x 5 columns]

In [9]:
import pandas as pd

# Veggie Burrito 가격별 그룹화
vbr2 = vbr.groupby('item_price')

# 기술통계
vbr2.describe()

# 8.49$ 가격대가 가장 많이 팔림

           order_id                                                    \
              count         mean         std     min      25%     50%
item_price
8.49           40.0   751.775000  534.449512    46.0   305.75   499.5
8.75           18.0   889.777778  406.513809   257.0   561.25   862.5
10.98           4.0   599.750000  335.489071   189.0   431.25   612.5
11.25          32.0   969.781250  560.233231    26.0   442.00   939.5
33.75           1.0  1443.000000         NaN  1443.0  1443.00  1443.0

                            quantity
                75%     max    count mean  std  min  25%  50%  75%  max
item_price
8.49        1285.00  1635.0     40.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
8.75        1172.75  1797.0     18.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
10.98        781.00   985.0      4.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
11.25       1403.75  1830.0     32.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
33.75       1443.00  1443.0      1.0  3.0  NaN  3.0  3.0  3.0  3.0  3.0

In [12]:
# Veggie Burrito를 산 고객들 중 해당 품목을 선택한 이유에서
# 가장 많이 언급된 단어를 추출

import pandas as pd
from collections import Counter

# 단어 추출 및 빈도수 계산
word_list = ' '.join(vbr['choice_description']).split()
word_counts = Counter(word_list)

# 빈도수가 높은 순으로 정렬
sorted_word_counts = sorted(word_counts.items(), key=lambda x: x[1], reverse=True)

# 상위 빈도수 단어 출력
top_words = 10
for word, freq in sorted_word_counts[:top_words]:
    print(f'{word}: {freq}')
    

# 가장 많이 언급된 단어 : 콩(Beans), 쌀(Ricd)

Beans,: 90
Rice,: 69
Salsa: 68
Tomato: 64
Chili: 55
Cheese,: 55
Sour: 54
[Fresh: 53
Salsa,: 50
Lettuce]]: 49

In [ ]:
# 결론 :
# 채식 상품 중 Veggie Burrito 상품이 가장 많이 팔림
# 그 중에서도 8.49$ 가격대가 많이 팔림

# Veggie Burrito 상품을 선택한(구매한) 고객들의
# 선택 이유를 가장 많이 언급된 단어를 추출함
# 결과는 Beans(콩), Rice(쌀)가 가장 많이 언급됨
# 고객이Veggie Burrito를 선택한 이유는 콩과 쌀 재료가 들어간 제품을
# 많이 선택한다고 추론해볼 수 있음

# Insight :
# 8.49$ 이하로 콩과 쌀 재료가 들어간 상품을 묶음 판매